{% set title = "Logos page" %}
{% extends "layouts/master.njk" %}

{% block content %}

	<input type="text" name="" id="filmname" placeholder="enter film title">
	<button id="send">send</button>
		 
	<section class="section">
		<div class="container">
			<ul class="list" id="movieList"></ul>
		</div>
	</section>
	
{% endblock %}